/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Actual Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #BCE0FD; /* Light blue background */
    margin: 0; /* Remove default body margin */
}

.header {
    background-color: white; /* White header */
    padding: 10px; /* Add padding to the header */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure the header is above other content */
}

.logos {
    display: flex;
    justify-content: space-between;
}

.logo-left,
.logo-right {
    max-width: 100px;
    height: auto;
}

.container {
    margin-top: 58px; /* Adjust this value to change the gap between header and buttons */
    padding: 20px;
}

.home-button {
    display: inline-flex; /* Use inline-flex for better alignment */
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    margin-top: 20px;
    background-color: #004E98; /* Dark blue button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 125px; /* Custom width */
    height: 50px; /* Custom height */
}

.home-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-button-icon {
    max-height: 100%; /* Ensure the icon fits within the button */
    margin-right: 5px; /* Space between icon and text */
    margin-bottom: 2px;
}

.ch-button {
    display: inline-flex; /* Use inline-flex for better alignment */
    align-items: center;
    justify-content: flex-start; /* Align content to the left */
    margin-top: 20px;
    background-color: #004E98; /* Dark blue button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 150px; /* Custom width */
    height: 50px; /* Custom height */
    margin-left: 20px;
}

.ch-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ch-button-icon {
    max-height: 100%; /* Ensure the icon fits within the button */
    margin-right: 5px; /* Space between icon and text */
    margin-bottom: 2px;
}

.button {
    display: block;
    margin: 20px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #004E98;
    color: white;
    text-decoration: none;
    font-size: 18px;
    max-width: 3000px; /* Adjusted max-width for the buttons */
    height: 100px;
    position: relative;
    overflow: hidden; /* Ensure the icon doesn't overflow */
}

.button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-text {
    text-align: left;
}

.title {
    font-weight: bold;
    display: block;
}

.description {
    display: block;
}

.button-icon {
    margin-left: 10px;
}

.button-icon img {
    max-height: 100%; /* Ensure the icon fits within the button */
}

.video-container {
    position: relative;
    width: calc(100% - 20px);
    max-width: 1920px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex; /* Add flexbox for centering the content */
    align-items: center; /* Center items vertically if necessary */
    justify-content: center; /* Center items horizontally */
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-container-chapel {
    position: relative;
    width: calc(100% - 20px); /* 100% width minus 10px on each side */
    max-width: 1920px; /* Max width for large screens */
    margin: 0 auto; /* Center the container horizontally */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center items vertically if necessary */
    justify-content: center; /* Center items horizontally */
    padding: 0 10px; /* Add 10px padding on the left and right */
}

.video-container-chapel video {
    width: 100%; /* Ensure the video takes up the full width of the container */
    height: auto; /* Maintain aspect ratio */
}

.footer {
    display: block; /* Display the footer */
    background-color: white; /* White background color for the footer */
    padding: 10px;
    text-align: center;
    width: 100%; /* Ensure the footer spans the entire width */
    z-index: 3; /* Ensure footer appears above other content */
}

.footer-image1 {
    max-width: 100%; /* Fit the width within the screen */
    height: auto; /* Maintain aspect ratio */
    box-sizing: border-box; /* Include padding in the width calculation */
}
